@import 'tailwindcss';
@plugin 'tailwindcss-motion';
@plugin 'tailwindcss-animate';
@import '@fortawesome/fontawesome-free/css/all.min.css';


:root {
  --toastify-color-success: var(--color-primary-light);
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Oi;
  font-display: swap;
  src: url(/fonts/Oi-Regular.ttf);
}

@font-face {
  font-family: 'RedditSans';
  font-display: swap;
  src: url(/fonts/RedditSans-VariableFont_opszwght.ttf);
}

@theme {
  --color-background-light: #f3eed9;
  --color-primary-light: #442727;
  --color-secondary-light: #D9B68C;
  --color-accent-light: #efdb9c;
  --color-neutral-light: #ffffff;
  --font-big-header: Oi, 'sans-serif';
  --font-main: Montserrat, 'sans-serif';
  --font-sans: Inter, 'sans-serif'
  --color-background-dark: #2f2825;
  --color-primary-dark: #b18e66;
  --color-secondary-dark: #faf7ed;
  --color-accent-dark: #b0a9a3;
}

@layer utilities {
  .navbar-btn {
    @apply transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-105;
  }

  .add-to-cart {
    @apply transition duration-300 ease-in-out hover:bg-neutral-50;
  }

  .def-margin {
    @apply mx-[min(4.5rem,6%)] my-[min(1rem,6%)];
  }

  .def-padding {
    @apply px-[min(4.5rem,6%)] py-[min(1rem,6%)];
  }

  .debug {
    @apply outline-2 outline-red-600;
  }
}

@layer components {
  * {
    box-sizing: border-box;
    /* @apply box-border; */

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-primary-light);
    }
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      width: 10px;
      background-color: var(--color-secondary-light);
    }
  }

  input {
    @apply focus:outline-none;
  }
}

@layer base {
  html {
    @apply font-main;
  }
  body {
    overflow-x: hidden;
  }
}
