@import 'tailwindcss';
@plugin 'tailwindcss-motion';
@plugin 'tailwindcss-animate';

:root {
  --toastify-color-success: var(--color-primary-light);
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Oi;
  src: url(/fonts/Oi-Regular.ttf);
}

@font-face {
  font-family: Lalezar;
  src: url(/fonts/Lalezar-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-VariableFont_opszwght.ttf);
}

@theme {
  --color-background-light: #f3eed9;
  --color-primary-light: #442727;
  --color-secondary-light: #d0a473;
  --color-accent-light: #efdb9c;
  --color-neutral-light: #ffffff;
  --font-big-header: Oi, 'sans-serif';
  --font-sub-header: Lalezar, 'sans-serif';
  --font-main: Inter, 'sans-serif';
  --color-background-dark: #2f2825;
  --color-primary-dark: #b18e66;
  --color-secondary-dark: #fff9e6;
  --color-accent-dark: #b0a9a3;
}

@layer utilities {
  .navbar-btn {
    @apply transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-105;
  }

  .add-to-cart {
    @apply transition duration-300 ease-in-out hover:bg-neutral-50;
  }

  .def-margin {
    @apply mx-[min(4.5rem,6%)] my-[min(1rem,6%)];
  }

  .def-padding {
    @apply px-[min(4.5rem,6%)] py-[min(1rem,6%)];
  }
}

@layer components {
  * {
    box-sizing: border-box;
    /* @apply box-border; */

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-primary-light);
      border-radius: 100vmax;
    }
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
    }

    ::-webkit-scrollbar-button {
      width: 0px;
    }
  }

  ul::-webkit-scrollbar {
    width: 0px;
  }

  input {
    @apply focus:outline-none;
  }
}

@layer base {
  html {
    @apply font-main;
  }
  body {
    overflow-x: hidden;
  }
}
